/index.html
*.tags
*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.toc
*.swp
*.vrb
*.synctex.gz
minted-*
*.vrb
*.lmk
.czrc
.tag*
elm-stuff/
.vscode/
build/
node_modules/
env/